<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h1 class="card-title text-center w-100 p-3 text-primary text-uppercase">{{ 'login.title' | translate }}
            </h1>

            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
              <ng-container *ngIf="err==true">
                <ngb-alert [dismissible]="false">
                  <strong>{{ 'home.warning' | translate }}</strong> {{'login.err1' | translate}}
                </ngb-alert>
              </ng-container>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                  formControlName="email">
                <label for="inputEmail">{{ 'login.email' | translate }}</label>
                <br>
                <div class="alert alert-danger"
                  *ngIf="loginForm.controls['email'].errors && loginForm.get('email').touched">
                  <div *ngIf="loginForm.controls['email'].hasError('required')">{{ 'login.emailError' | translate }}
                  </div>
                </div>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                  formControlName="password">
                <label for="inputPassword">{{ 'login.password' | translate }}</label>
                <br>
                <div class="alert alert-danger"
                  *ngIf="loginForm.controls['password'].errors && loginForm.get('password').touched ">
                  <div *ngIf="loginForm.controls['password'].hasError('required')">{{ 'login.passwordError' | translate
                    }}</div>
                </div>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase col-lg-5" type="submit"
                [disabled]="loginForm.invalid">{{'login.signin' | translate }}</button>


              <button class="btn btn-lg btn-secondary btn-block text-uppercase col-lg-5" type="submit"
                routerLink="/register">{{'login.signup' | translate }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>